body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 14px;
}

h2 a {
  color: #ffffff;
  text-decoration: none;
}

h2 a:hover {
  color: orange;
}

#start-game {
  color: #ffffff;
  margin-top: 30px;
  width: 120px;
  height: 40px;
  background: none;
  border: 2px solid #ffffff;
  cursor: pointer;
}

#start-game:hover {
  border-color: orange;
  color: orange;
}

#game-word {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 65px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

#game-progress, #game-keyboard {
  width: 450px;
  height: 280px;
  float: left;
}
